/* .images{
width: 400px;
height: 200px;
} */
.App{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-image: linear-gradient(to bottom,#68666c,#638291);
  width: 90%;
  height: 100vh;
  margin: 10px auto;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(76, 76, 76);
  justify-content: space-between;
}

#player-wrapper{
  width: 40%;
  height: 100%; 
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.video-item{
  width: 70%;
  height: 40%;
  border: 1px solid rgb(188, 122, 255);
  margin: 10px auto;
  text-align: left;
  overflow: hidden;
  border-radius: 8px;
  background-image: linear-gradient(to top,#ada3dc,#e3d5db);
  cursor: pointer;
  /* transition: 1.9ms ease-in; */
}

.video-item:hover{

  transform: scale(0.9);
  box-shadow: 0 0 8px rgb(31, 5, 125);
}

.video-item img{
width: 100%;
height: 40%;
}
#mainplayer.video-item img{
  width:auto;
height: 110%;

}
.video-item h2,h3{
  padding: 5px;
  margin-top: 0;
}

#mainplayer{
  background-color: aqua;
  width: 100%;
  height: 50%;
  border-radius: 15px;
  border: 1px solid rgb(11, 4, 90);
  /* box-sizing: border-box; */
  padding: 0 70px;
}

#logo{
  width: 40px;
  height: 40px;
  border-radius: 90px;
}

#mainplayer #channelname  {
display: flex;
/* flex-wrap: wrap; */
/* align-items: center; */
/* justify-content: center; */
gap: 5px;
font-size: px;
}

#player-wrapper #channelname{
  display: flex;
 gap: 5px;
font-size: 15px;
}
#player-wrapper #video-title{
  display: flex;
 /* gap: 2px; */
font-size: 12px;
}
.video-item  b{
  font-size: 10px;
 }
 